.button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  /* outline: none; */
}
/* .button:hover {
  box-shadow: var(--shadow-2dp);
} */
.number-button:hover {
  color: var(--accent-color);
}
.operator-button:hover {
  color: var(--primary-color);
}
/* .dark-theme .button:hover {
  color: #fff;
}
.light-theme .button:hover {
  color: #000
} */
