#board {
  display: flex;
  background-color: white;
}
#numbers {
  background-color: var(--primary-color);
  color: var(--primary-text);
  display: grid;
  grid-template: repeat(4, 70px) / repeat(3, 70px);
}
#oprators {
  background-color: var(--accent-color);
  color: var(--accent-text);
  display: grid;
  grid-template: repeat(5, 56px) / 70px;
}

@media (max-width: 600px) and (orientation: portrait) {
  #numbers {
    grid-template: repeat(4, calc(100vw / 4)) / repeat(3, calc(100vw / 4));
  }
  #oprators {
    grid-template: repeat(5, auto) / calc(100vw / 4);
  }
}
