#board {
  display: flex;
  background-color: white;
}
#numbers {
  background-color: var(--primary-color);
  display: grid;
  grid-template: repeat(4, 70px) / repeat(3, 70px);
  color: rgba(255, 255, 255, 0.87);
}
#oprators {
  background-color: var(--accent-color);
  display: grid;
  grid-template: repeat(5, 56px) / 70px;
  color: rgba(255, 255, 255, 0.87);
}