#board {
  display: flex;
  background-color: white;
}
#numbers {
  background-color: var(--primary-color);
  color: var(--primary-text);
  display: grid;
  grid-template: repeat(4, 70px) / repeat(3, 70px);
}
#oprators {
  background-color: var(--accent-color);
  color: var(--accent-text);
  display: grid;
  grid-template: repeat(5, 56px) / 70px;
}