#switch {
  display: flex;
  color: rgba(255, 255, 255, 0.87);
  justify-content: space-between;
  align-items: center;
}
.switch-button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.87);
  padding: 8px;
}
.switch-active {
  background-color: var(--accent-color);
}
#left-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#right-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}