#switch {
  display: flex;
  color: var(--primary-text);
  justify-content: space-between;
  align-items: center;
}
.switch-title {
  margin-right: 24px;
}
.switch-button {
  background-color: var(--primary-color);
  color: var(--primary-text);
  cursor: pointer;
  border: 1px solid black;
  padding: 8px;
  width: 120px;
}
.switch-active {
  background-color: var(--accent-color);
  color: var(--accent-text);
}
#left-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#right-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}