#settings {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--primary-text);
  box-shadow: var(--shadow-4dp);
  box-sizing: border-box;
  height: 100%;
  /* width: 360px; */
  padding: 16px;
  transition: transform 0.4s;
  z-index: 10;
}
.drawer-open {
  transform: translateX(0);
}
.drawer-close {
  transform: translateX(-100%);
}
